<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
	
	
	
	    <div class="card mr-3 ml-3">
		
		<div class="card-body">
		
		<h1 class="text-center">Your Contacts</h1>
		
	 
		<table class="table">
    <thead>
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c:${contacts}">
    
    
      <th th:text="'SCM'+${c.cId}" scope="row">1</th>
      
      <td>
      
      <img src=""  style="height: 30px; width: 30px;"  th:src="@{'/img/'+${c.image}}" alt="profile_photo" />
      
      <span  th:text="${c.name}"></span>
      
      </td> 
      
      
      <td>
      
         <a href="#"  th:href="@{'/user/'+${c.cId}+'/contact'}">
         
         <span th:text="${c.email}"></span>
         
         </a>
         
         
      
      </td>
      
      <td th:text="${c.phone}"></td>
        <td> 
        <a href="" th:href="@{'/user/delete/'}+${c.cId}">
        
         <button type="button" class="btn btn-danger">Delete</button>
       
       </a>
     
        <a href=""  th:href="@{'/user/update/'}+${c.cId}">
        
         <button type="button" class="btn btn-primary">Update</button>
       
       </a>
     
        
        
        
        </td>
       
      
    </tr>
   
  </tbody>
</table>
		
					
	<!-- Pagination Part -->
	
	<nav aria-label="Page navigation example">
	
	    <ul class="pagination">
	    
		    <li th:if="${currentPage !=0}" class="page-item"><a th:href="@{'/user/showContacts/'+${currentPage-1}}"  class="page-link" href="#">Previous</a></li>
		    
		    <li th:classappend="${currentPage==(i-1)?'active':''}"  th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showContacts/'+${i-1}}"  class="page-link" href="#"><span th:text="${i}"></span></a></li>
		    	
		    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a  th:href="@{'/user/showContacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
	  </ul>
	  
	 </nav>
			

		
		   </div>
		   
		   
		</div>
		
		
			
	</section>
</body>
</html>
